@import "~react-image-gallery/styles/css/image-gallery.css";

html {
    scroll-behavior: smooth;
}

a {
    outline: none !important;
    border: none !important;
}

text {
    fill: #1c1c1c !important;
}

/* Individual item */
.bm-item {
    display: inline-block;

    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #1c1c1c;
    transition: color 0.2s;

    border: none;
}

/* Change color on hover */
.bm-item:hover {
    color: #92e3e9 !important;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #1c1c1c;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    display: none;
}

/* General sidebar styles */
.bm-menu {
    background: rgba(252, 253, 232, 0);
    padding: 2.5em 1.5em 0;
    font-size: 1em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: rgba(255, 255, 255, 0.8);
}

/* Wrapper for item list */
.bm-item-list {
    color: #1c1c1c;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(255, 255, 255, 0.8) !important;
}
